In [64]:
import numpy as np
import pandas as pd

data = pd.read_csv('montana.csv', usecols=['AGE', 'FIN']).dropna().astype(int)
data

     AGE  FIN
0      3    2
1      2    3
2      1    2
3      3    1
4      3    2
..   ...  ...
203    1    3
205    1    3
206    3    2
207    3    1
208    2    2

[207 rows x 2 columns]

In [65]:
X = np.zeros((3,3), dtype=int)
for i in range(3):
    for j in range(3):
        X[i, j] = len(data.loc[(data['AGE']==i+1) & (data['FIN']==j+1), :])

X

array([[21, 16, 34],
       [17, 23, 26],
       [22, 37, 11]])

In [66]:
%reset -f